@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --brand-color: #c00407;
    --sub-title-color: #222222;
    --description-color: #656565;
    --text-color: #8c8c8c;
    --light-text-color: #ffffff;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

h2 {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: var(--brand-color);
    text-transform: uppercase;
}