.services {
    padding: 55px 24px 90px;
}

.services__super-title {
    text-align: center;
}

.services__title {
    text-align: center;
    font-size: 34px;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    line-height: 41px;
    margin-top: 20px;
}

.services__sub-title {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: var(--description-text-color);
    text-align: center;
    line-height: 27px;
    margin-top: 15px;
}

.services__tab-item {
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: var(--services__tab-item-hover-color);
}

.services__tab-item:active {
    color: var(--secondary-color);
}

.services__tab-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.services__tab-right-content {
    padding: 60px;
}

.services__tab-item-title {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: left;
    color: var(--secondary-color);
}

.services__tab-item-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: var(--services__tab-item-color);
}

.services__tab-item-list {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

li.services__tab-item-list-element {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    color: var(----text-color);
}

.services__red-check-mark-image {
    width: 20px;
    height: 24px;
}

@media (max-width: 767px) {
    .services__tab-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .services__tab-right-content {
        padding: 39px;
    }

    .services__maint-image {
        width: 272px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }
}

@media (min-width: 767px) {
    .services__maint-image {
        border-radius: 5px;
        width: 560px;
        object-fit: cover;
    }

    .services__tab-right-content {
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--services__border-color);
    }
}