.footer__partial {
  background-color: var(--footer-background);
  margin: auto;
}
.footer__context {
  text-align: center;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.footer__logo_img {
  display: block;
  width: 238px;
  padding-top: 100px;
}

.footer__navigation-tittle,
.footer__shop-tittle {
  color: var(--light-text-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: normal;
  box-sizing: border-box;
  text-transform: none;
  height: auto;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__subscribe_form {
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
}

.footer__subscribe_batton {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.footer__information-block,
.footer__navigation,
.footer__subscribe,
.footer__shop,
.fooret__subscribe_form,
.footer__subscribe_batton {
  box-sizing: border-box;
  color: var(--services__tab-item-hover-color);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__list-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--services__tab-item-hover-color);
  text-decoration: none;
}

.footer__information-block {
  max-width: 370px;
}

.footer__navigation-konteiner li,
.footer__navigation-konteiner li a {
  margin-bottom: 10px;
  text-align: left;
}

.footer__navigation-konteiner {
  margin: 20px;
  padding-inline-start: 0;
  list-style: none;
}

.footer__shop {
  padding-bottom: 80px;
}

.footer__subscribe_batton {
  background-color: var(--primary-color);
}

.footer__logo,
.footer__navigation,
.footer__shop,
.footer__subscribe {
  display: inline-flex;
  flex-basis: 25%;
  margin-right: 20px;
  margin-left: 20px;
  align-items: center;
}
.footer__bottom-line,
.footer__bottom-line-icon {
  background-color: var(--footer-line-background);
  display: inline-flex;
}

.footer__bottom-line-text {
  color: var(--services__tab-item-hover-color);
  text-align: left;
  margin-right: auto;
  margin-left: 20px;
}

.footer__bottom-line {
  width: 100%;
  padding: 0;
}
.footer__bottom-line-icon {
  text-align: right;
}

.footer__konteiner {
  display: flex;
}

.footer__navigation-icon-facebook,
.footer__navigation-icon-instagram,
.footer__navigation-icon-youtube {
  width: 32px;
  display: inline-flex;
}
