/* Загальний стиль */
.coffee-machines {
  text-align: center;
  margin: 15px;
}

.coffee-machines h2 {
  font-family: var(--font-family-secondary);
  font-size: 12px;
}

.coffee-machines__first-titel {
  font-family: var(--font-family-primary);
  font-size: 34px;
  font-weight: 700;
}

.coffee-machines__second-titel {
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-weight: 300;
}

/* Стилі для зображення та контейнера товарів */
.coffee-machines__img {
  width: 100%; /* Змінивши ширину на 100%, забезпечимо адаптивний розмір для зображення */
}

.coffee-machines__items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Додаємо flex-wrap для обрізання елементів на малих екранах */
}

/* Стилі для кожного товару */
.coffee-machine__item {
  width: 100%; /* Змінивши ширину на 100%, забезпечимо повний розмір товару на малих екранах */
  font-family: var(--font-family-secondary);
  font-size: 24px;
  margin: 20px;
}

/* Стилі для кнопки додавання в кошик */
.coffee-machine__item .coffee-machine__button {
  background-color: var(--primary-color);
  border: none;
  color: var(--hero-text-color);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
}

.coffee-machine__item .coffee-machine__button:hover {  
  background-color: var(--secondary-color);
}    

/* Збільшуємо розмір заголовку при ширині екрана 768px і більше */
@media (min-width: 768px){
  .coffee-machines__first-titel{
      font-size: 40px;
  }

  /* Змінюємо розмір елементів в контейнері при великих екранах */
  .coffee-machine__item {
      width: calc(33.33% - 40px); /* Змінюємо ширину товару на 33.33% при великих екранах */
  }
}
