.photo-container {
  display: flex;
  justify-content: center;
}

.img-container {
  position: relative;
  margin: 10px;
   max-width: 50%;
}

.container-text {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    text-align: center;
}
