.questions {
  display: flex;
  padding: 70px;
}

.questions__details {
  text-align: left;
}

.questions__image-container {
  text-align: right;
}

.questions__super-title {
  color: var(--header-top-numver-svg-color);
  font-family: var(--font-family-secondary);
  text-align: left;
  font-size: 12px;
  line-height: 19.2px;
}

.questions__title {
  color: var(--header-top-address-text-color);
  text-align: left;
  font-family: var(--font-family-primary);
  font-size: 63px;
  line-height: 69.3px;
}

.questions__sub-title {
  color: var(--hero-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.questions__button-faq {
  background-color: var(--header-top-numver-svg-color);
  border-bottom-color: var(--hero-title-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  text-align: center;
}

.questions__button-ask {
  border-bottom-color: var(--header-top-address-text-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 15px;
  line-height: 15px;
}
