.pricing {
    padding: 90px 24px;
}

.pricing__top-title {
    text-align: center;
    line-height: 19.2px;
}

.pricing__sub-title {
    font-size: 34px;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    text-align: center;
    line-height: 40.8px;
    margin-top: 20px;
}

@media (min-width: 768px) {

    .pricing__sub-title {
        font-size: 37px;
        line-height: 44.4px;
    }

}

.pricing__description {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: var(--description-text-color);
    text-align: center;
    line-height: 27px;
    margin-top: 15px;
}

.pricing__rent-plans-columns {
    margin-top: 45px;
    display: grid;
    gap: 50px;
}

.pricing__plan-column {
    padding: 35px 33px;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) {

    .pricing__rent-plans-columns {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .pricing__plan-column {
        padding: 40px 37px;
    }

}

@media (min-width: 992px) {

    .pricing__rent-plans-columns {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    .pricing__plan-column {
        padding: 50px 45px;
    }

}

.pricing__coffee-machine-image {
    width: 50px;
    height: 50px;
    background-color: var(--coffee-machine-icon-background);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__coffee-machine-image img {
    width: 26px;
    height: 26px;
}

@media (min-width: 768px) {

    .pricing__coffee-machine-image {
        width: 70px;
        height: 70px;
    }

    .pricing__coffee-machine-image img {
        width: 40px;
        height: 40px;
    }

    .pricing__plan-heading {
        margin-top: 5px;
    }

}

.pricing__plan-heading,
.pricing__plan-per-period,
.pricing__plan-benefits-list,
.pricing__benefits-list-item {
    margin-top: 20px;
}

.pricing__plan-heading .price {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    line-height: 40px;
    font-weight: 700;
}

.pricing__plan-heading .machine-type {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    line-height: 18px;
    font-weight: 600;
}

@media (min-width: 768px) {

    .pricing__plan-per-period {
        margin-top: 5px;
    }

    .pricing__plan-heading .machine-type {
        font-size: 22px;
        line-height: 22px;
    }

}

.pricing__plan-per-period {
    line-height: 25.2px;
}

.pricing__plan-per-period .dash {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    font-weight: 700;
}

.pricing__plan-per-period .text {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: var(--secondary-color);
    font-style: italic;
    font-weight: 400;
}

.pricing__benefits-list-item {
    display: flex;
}

.pricing__benefits-item-image {
    width: 20px;
    height: 24px;
}

.pricing__benefits-item-text {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    line-height: 25.6px;
    margin-left: 10px;
}

.pricing__plan-button {
    margin-top: 40px;
}