.coffee__production {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 603px;
  position: relative;
}

.coffee__container-production {
}

.coffee__production-image {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  background-image: url(https://res2.weblium.site/res/6059b710530fd500214ccb5a/605e1bf83059220021b8e021?nowebp);
}
.coffee__production-overlay {
  display: flex;
  background-color: var(--background-coffee-production);
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
  position: absolute;
}

.coffee__title {
  z-index: 2;
  position: relative;
  color: var(--light-text-color);
  align-self: center;
  font-size: 48px;
}

.coffee__super-title {
  z-index: 2;
  position: relative;
  align-self: center;
}

.youtube-coffee__picture {
  z-index: 2;
  position: relative;
  color: var(--light-text-color);
  align-self: center;
}
