.faq {
    padding: 55px 24px 90px;
}

.faq__left-container {
    text-align: left;
}

.faq__left-container img{
    position: left;
    width: 469px;
}

.faq__right-container {
    text-align: right;
}
.faq__super-title{
    text-align: left;
}

.faq__title{
    text-align: left;
    font-size: 37px;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;    
}

.faq__sub-title {
    color: var(--header-nav-link-color);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}