.banner {
  padding: 90px 20px 60px 20px;
}

.banner__container {
  max-width: 1170px;
  min-height: 356.19px;
  max-height: 582.34px;
  background-image: url(../img/banner-background.png);
  background-size: cover;
  background-position: 50% 75%;
  padding: 55px 45px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.banner__button-rent-now-link {
    display: inline-block;
    text-decoration: none;
    width: auto;
    margin-top: 28px;
    margin-bottom: 10px;
    margin-right: 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 22px;
    border: 3px solid;
    border-radius: 2px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--banner-button-text-color);
    font-family: var(--font-family-secondary);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    max-width: 114.98px;
  }

.banner__button-learn-more-link {
  display: inline-block;
  text-decoration: none;
  width: auto;
  margin-top: 10px;
  margin-left: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
  border: 3px solid;
  border-radius: 2px;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  font-family: var(--font-family-secondary);
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  max-width: 126.95px;
}

.banner__title-text {
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--secondary-color);
  text-transform: none;
  margin-bottom: 0;
}

.banner__description-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  margin: 0;
  padding: 0;
  color: var(--banner-description-color);
}

.banner__title-word-highlight {
  color: var(--primary-color);
}

.banner__buttons {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {F
  .banner {
    padding: 105px 20px 60px 20px;
  }
  .banner__title-text {
    margin-bottom: 34px;
  }
}

@media (min-width: 992px) {
  .banner {
    padding: 120px 20px 60px 20px;
  }
}

@media (min-width: 388px) {
  .banner__buttons {
    flex-direction: row;
  }
  .banner__button-learn-more-link {
    margin-top: 45px;
    margin-left: 10px;
    padding-bottom: 0px;
  }
  .banner__button-rent-now-link {
    margin-top: 45px;
    margin-right: 10px;
  }
  .banner__container {
    padding: 55px 45px;
  }
}

@media (min-width: 1350px) {
  .banner {
    padding: 120px 0 60px 0;
  }
}
