<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Space</title>
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <!--Oleksii Shaposhnyk-->
    <!--Kateryna Khar-->
    <!--Kristi Shyiovych-->
    <!--Andrii Popovetskyi-->
    <!--Yulia Sapega-->
    <!-- Natalia Yakovleva -->
    <!-- Pyrih Oleksandr-->
    <!--Kuchma Elizavet-->
    <header data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header.partial.html"></header>
    <main>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.hero.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.services-cards.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.about-coffee-space.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.testimonials.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.coffee-production.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.brands-carousel.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.steps-for-rent-coffee-machine.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.special-offer-rent.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.brands-carousel.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.coffee-machines-carousel.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.new-arrival.partial.html"></section></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.banner.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.special-offer-rent.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.services.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.coffee-carousel.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.ask-us.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.pricing.partial.html"></section> <!-- Mykhailo Tsviklinskyi-->
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.coffee-production.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.testimonials.partial.html"></section> <!-- Mykhailo Tsviklinskyi-->
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.faq.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.contacts.partial.html"></section><!--Pieshkov Denys-->
    </main>
    <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.footer.partial.html"></footer><!--Pieshkov Denys-->
</body>
</html>